@import "tailwindcss";

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

.input-minimal {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 10px 2px;
  background: transparent;
  font-size: 14px;
  outline: none;
}

.input-minimal::placeholder {
  color: #8c8c8c;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeInUp 0.4s ease-out;
}
